Source: jack-stdio
Section: sound
Priority: optional
Maintainer: Robin Gareus <robin@gareus.org>
Build-Depends: debhelper (>= 7.0.50~),
 libjack-dev | libjack-jackd2-dev
Homepage: http://rg42.org/oss/jackstdout/
Standards-Version: 3.9.1

Package: jack-stdio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: sox
Replaces: jack-stdout
Description: program to pipe audio-data from and to JACK
 Two simple command-line utilities to read and write raw audio-data
 from JACK from/to standard-io. 
 .
 jack-stdio supports unlimited number of channel 
 and a variety of raw PCM encodings:
 signed/unsigned 8/16/24/24 bit integer, floating-point,
 little/big-endian.
 .
 jack-stdout can be used to capture or with additional tools to 
 live-encoding audio from JACK.
 .
 jack-stdin pipes data from some external command into JACK.
